{% load static %}
{% load i18n %}
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css'>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="{% static 'css/client/client.css' %}">
<link rel="stylesheet" href="{% static 'css/header/styles.css' %}">

{% block content %}
<body class="reservas" style="background-image:url({% static 'img/wallpaperreservas.jpg' %});">
  <div class="grid-container-role">
    <div class="a">
      <div class="top-header">
          {% include "header.html" %}
      </div>
      <div class="contain-menu">
          <div class="menu">
              <div>
                  <p><a href="{% url 'index' %}#Home" class="nav-scroll active home" onclick="$('.menu_toggler').click();quitarGrid();">{% trans "Home" %}</a></p>
                  {% if user.is_authenticated %}
                  <p><a href="{% url 'user_update' user %}"><span style="display: table-cell; vertical-align: middle"></span><span style="display: table-cell; vertical-align: middle">{% trans "Account" %}</span></a></p>
                  {% endif %}
                  <p><a href="{% url 'index' %}#Services" class="nav-scroll services" onclick="$('.menu_toggler').click();quitarGrid();">{% trans "Services" %}</a></p>
                  <p><a href="{% url 'index' %}#Galery" class="nav-scroll galery" onclick="$('.menu_toggler').click();mostrarGrid();">{% trans "Galery" %}</a></p>
                  <p><a href="{% url 'index' %}#Contact" class="nav-scroll contact" onclick="$('.menu_toggler').click();quitarGrid();">{% trans "Contact" %}</a></p>
                  <p><a href="{% url 'index' %}#Redes" class="nav-scroll redes" onclick="$('.menu_toggler').click();quitarGrid();">{% trans "Social Networks" %}</a></p>
                  <p><a href="{% url 'index' %}#Politica" class="nav-scroll politica" onclick="$('.menu_toggler').click();quitarGrid();">{% trans "Privacy Policy" %}</a></p>
                  {% if request.user.groups.all.0.name == 'clientes' %}
                  <p><a href="{% url 'client' %}">{% trans "Book an appointment" %}</a></p>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <p><a href="{% url 'logout'%}?next={{request.path}}">{% trans "Log out" %}</a></p>
                  {% else %}
                  <p><a href="{% url 'index' %}">{% trans "Log in" %}</a></p>
                  {% endif %}

                  {% if request.user.groups.all.0.name == 'jefes' or request.user.groups.all.0.name == 'trabajadores'%}
                  <p><h1>{% trans "Administrator functions" %}</h1></p>
                  {% if request.user.groups.all.0.name == 'trabajadores' %}
                  <p><a href="{% url 'worker' %}">{% trans "Book an appointment" %}</a></p>
                  {% endif %}
                  <p><a href="{% url 'users' %}"><span style="display: table-cell; vertical-align: middle"></span><span style="display: table-cell; vertical-align: middle">{% trans "Clients" %}</span></a></p>   
                  {% if request.user.groups.all.0.name == 'jefes' %}
                  <p><a href="{% url 'galeria' %}">{% trans "Edit Gallery" %}</a></p>
                  <p><a href="{% url 'boss' %}">{% trans "Book an appointment" %}</a></p>
                  <p><a href="{% url 'workers' %}"><span style="display: table-cell; vertical-align: middle"></span><span style="display: table-cell; vertical-align: middle">{% trans "Workers" %}</span></a></p>
                  <p><a href="{% url 'horas' %}"><span style="display: table-cell; vertical-align: middle"></span><span style="display: table-cell; vertical-align: middle">{% trans "hours" %}</span></a></p>
                  {% endif %}
                  <p><a href="{% url 'categories' %}"><span style="display: table-cell; vertical-align: middle"></span><span style="display: table-cell; vertical-align: middle">{% trans "Services and Categories" %}</span></a></p>
                  {% endif %}
              </div>
          </div>
          <div class="bgmenu"></div>
      </div>
    </div>
      <div class="b" style=" background: -prefix-linear-gradient(rgba(246, 157, 60,.5), rgba(63, 135, 166,.7));background: linear-gradient(rgba(246, 157, 60,.5), rgba(63, 135, 166,.7));">
          <h1>{% trans "Book in" %}</h1>
          <div class="principal-contain" style="margin-bottom: 10rem;">
              <div>
                      <form id="form-id" method="post">
                          {% csrf_token %}
                          <!-- progressbar -->
                          <ul class="progress">
                            <li class="active">{% trans "to select" %}</li>
                            <li>{% trans "Services" %}</li>
                            <li>{% trans "Date Time" %}</li>
                          </ul>
                          <!-- fieldsets -->
                          <hr style="width:85%;margin:0 auto;">
                          <fieldset>
                            <h2 class="fs-title">{% trans "Customer search" %}</h2><br>
                            <input name="cliente" list="brow" placeholder="{% trans "Client" %}" onchange="mostrarnext()">
                            <datalist id="brow">
                              {% if clientes %}
                                {% for cliente in clientes %}
                                  <option value="{{ cliente.phone }} - {{ cliente }}" >
                                {% endfor %}
                              {% endif %}
                            </datalist> 
                            <br>
                            <h2 class="fs-title" style="padding-top:20px;">{% trans "choose worker" %}</h2>
                            {% if trabajadores %}
                            <div class="contain-workers">
                            {% for trabajador in trabajadores %}
                              <p class="form__answer" onclick="mostrarnext()"> 
                                <input type="radio" name="trabajador" id="{{ trabajador }}" value="{{ trabajador }}" checked> 
                                <label for="{{ trabajador }}"><img src="{{ trabajador.imagen.url }}" ><br>{{ trabajador }} </label> 
                              </p>
                            {% endfor %}
                            </div>
                            {% endif %}
                            <br>
                            <input type="button" name="next" class="next action-button mostrarnext" value="{% trans "Next" %}" onclick="quitarnext()"/>
                          </fieldset>
                          <fieldset>
                            <h2 class="fs-title">{% trans "Select service" %}</h2>
                            {% if servicios %}
                            <div class="contain-workers2">
                            {% for servicio in servicios %}
                              <p class="form__answer" onclick="mostrarnext()"> 
                                <input type="radio" name="match" id="{{ servicio }}" value="{{ servicio }}" > 
                                <label for="{{ servicio }}">{{ servicio }}</label> 
                              </p>
                            {% endfor %}
                            </div>
                            {% endif %}
                            <br>
                            <input type="button" name="{% trans "Previous" %}" class="previous action-button" value="Previous" />
                            <input type="button" name="{% trans "Next" %}" class="next action-button mostrarnext" value="Next" onclick="quitarnext()"/>
                          </fieldset>
                          <fieldset>
                            <h2 class="fs-title">{% trans "Date Time" %}</h2>
                            <input type="date" min={{today}} name="fecha" id="idFecha" onchange="quitarhora(event)"/>
                            {% if horas %}
                            <div id="horas-container">
                              <div class="contain-workers2">                           
                              {% for hora in horas %}
                                <p class="form__answer_date ({{ hora }})" onclick="mostrarsubmit()"> 
                                  <input type="radio" name="horas" id="{{ hora }}" value="{{ hora }}" > 
                                  <label for="{{ hora }}"><span>{{ hora.hora }}</span></label> 
                                </p>
                              {% endfor %}
                              </div>
                            </div>
                            {% endif %}

                            {% if fechaTrabajadores %}
                            <div class="contain-workers2" style="display:none">
                            {% for fechaTrabajador in fechaTrabajadores %}
                              <p class="form__answer_date {{ fechaTrabajador }}"> 
                                <input type="hidden" name="matchcon" id="{{ fechaTrabajador }}" value="{{ fechaTrabajador }}" >    
                              </p>
                            {% endfor %}
                            </div>
                            {% endif %}

                            <input type="button" name="previous" class="previous action-button" value="{% trans "Previous" %}" />
                            <input type="submit" name="submit" class="submit action-button" value="{% trans "Submit" %}" />

                          </fieldset>
                      </form>
              </div>
          </div>
      </div>
      <div class="c">

      </div>
  </div>
</body>
{% endblock %}
{% include "scripts.html" %}
<script src="{% static '/js/header/script1.js' %}"></script>
<script src="{% static '/js/header/script2.js' %}"></script>
<script src="{% static '/js/header/script.js' %}"></script>
<script>
    function quitarGrid(){
        $('.grid-gallery').css('display','none');
    }
    function mostrarGrid(){
        $('.grid-gallery').css('display','grid');
    }
    $(document).ready(function(){

        $('.bt_close ').stop().click(function(){
            $('.top-header').css('display','block');
            $('.fullscreen').css('display','none');
        });
        $('th > img').stop().click(function(){
            var image = $(this).attr('src')
            $('.fullscreen .container .row div img').attr('src',image);
            $('.fullscreen').css('display','block');
            $('.top-header').css('display','none');
        });
    });
    $(function(){
        $('.nav-scroll').click(function(){
          $('.nav-scroll.active').removeClass('active');
          $('.show').removeClass('show');
          panelId = $(this).attr('href');
          $(panelId).addClass('show');
          $(this).addClass('active');
        });
    });
    

$(document).ready(function () {
    var URLactual = window.location.toString();
    if(URLactual.includes('#Home')){
        $('.home').click();
        $('.menu_toggler').click();
    }else if(URLactual.includes('#Services')){
        $('.services').click();
        $('.menu_toggler').click();
    }else if(URLactual.includes('#Galery')){
        $('.galery').click();
        $('.menu_toggler').click();
    }else if(URLactual.includes('#Contact')){
        $('.contact').click();
        $('.menu_toggler').click();
    }else if(URLactual.includes('#Redes')){
        $('.redes').click();
        $('.menu_toggler').click();
    }else if(URLactual.includes('#Politica')){
        $('.politica').click();
        $('.menu_toggler').click();
    }
    setTimeout(function () {
        $('.loading').hide().ajaxStart(function() { 
            $(this).show(); 
           }).ajaxStop(function() { 
            $(this).hide(); 
           });
      }, 2000);
});

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems);
  });
</script>
