{% load static %}
{% load i18n %}
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css'>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="{% static 'css/client/client.css' %}">
<link rel="stylesheet" href="{% static 'css/header/styles.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

{% block content %}
<body class="hora-list" style="background-image:url({% static 'img/fondo-clients-list.jpg' %});">
    <div class="loading" style="position: fixed; height: 100%; width: 100%; background: -prefix-linear-gradient(button, #f9f295, #ff7f9f);background: linear-gradient(to top, #f9f295, #ff7f9f);display: flex;justify-content: center;align-items: center;    z-index: 99999;"> 
        <div id="preloader">
            <img class="l1" src="{% static 'img/logotipon111.png' %}">
            <div id="loader"></div>
        </div>
    </div>
    <div class="grid-container-role-hora">
        <div class="a">
            <div class="top-header">
                {% include "header.html" %}
            </div>
            <div class="contain-menu">
                <div class="menu">
                    <div>
                        <p><a href="{% url 'index' %}#Home" class="nav-scroll active home" onclick="$('.menu_toggler').click();quitarGrid();">{% trans "Home" %}</a></p>
                        {% if user.is_authenticated %}
                        <p><a href="{% url 'user_update' user %}"><span style="display: table-cell; vertical-align: middle"></span><span style="display: table-cell; vertical-align: middle">{% trans "Account" %}</span></a></p>
                        {% endif %}
                        <p><a href="{% url 'index' %}#Services" class="nav-scroll services" onclick="$('.menu_toggler').click();quitarGrid();">{% trans "Services" %}</a></p>
                        <p><a href="{% url 'index' %}#Galery" class="nav-scroll galery" onclick="$('.menu_toggler').click();mostrarGrid();">{% trans "Galery" %}</a></p>
                        <p><a href="{% url 'index' %}#Contact" class="nav-scroll contact" onclick="$('.menu_toggler').click();quitarGrid();">{% trans "Contact" %}</a></p>
                        <p><a href="{% url 'index' %}#Redes" class="nav-scroll redes" onclick="$('.menu_toggler').click();quitarGrid();">{% trans "Social Networks" %}</a></p>
                        <p><a href="{% url 'index' %}#Politica" class="nav-scroll politica" onclick="$('.menu_toggler').click();quitarGrid();">{% trans "Privacy Policy" %}</a></p>
                        {% if request.user.groups.all.0.name == 'clientes' %}
                        <p><a href="{% url 'client' %}">{% trans "Book an appointment" %}</a></p>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <p><a href="{% url 'logout'%}?next={{request.path}}">{% trans "Log out" %}</a></p>
                        {% else %}
                        <p><a href="{% url 'index' %}">{% trans "Log in" %}</a></p>
                        {% endif %}
    
                        {% if request.user.groups.all.0.name == 'jefes' or request.user.groups.all.0.name == 'trabajadores'%}
                        <p><h1>{% trans "Administrator functions" %}</h1></p>
                        {% if request.user.groups.all.0.name == 'trabajadores' %}
                        <p><a href="{% url 'worker' %}">{% trans "Book an appointment" %}</a></p>
                        {% endif %}
                        <p><a href="{% url 'users' %}"><span style="display: table-cell; vertical-align: middle"></span><span style="display: table-cell; vertical-align: middle">{% trans "Clients" %}</span></a></p>   
                        {% if request.user.groups.all.0.name == 'jefes' %}
                        <p><a href="{% url 'galeria' %}">{% trans "Edit Gallery" %}</a></p>
                        <p><a href="{% url 'boss' %}">{% trans "Book an appointment" %}</a></p>
                        <p><a href="{% url 'workers' %}"><span style="display: table-cell; vertical-align: middle"></span><span style="display: table-cell; vertical-align: middle">{% trans "Workers" %}</span></a></p>
                        <p><a href="{% url 'horas' %}"><span style="display: table-cell; vertical-align: middle"></span><span style="display: table-cell; vertical-align: middle">{% trans "hours" %}</span></a></p>
                        {% endif %}
                        <p><a href="{% url 'categories' %}"><span style="display: table-cell; vertical-align: middle"></span><span style="display: table-cell; vertical-align: middle">{% trans "Services and Categories" %}</span></a></p>
                        {% endif %}
                    </div>
                </div>
                <div class="bgmenu"></div>
            </div>
        </div>
        <div class="b" style=" background: -prefix-linear-gradient(rgba(246, 157, 60,.5), rgba(63, 135, 166,.7));background: linear-gradient(rgba(246, 157, 60,.5), rgba(63, 135, 166,.7));">
            <div class="hoursList">
                <p>{% trans "hours list" %}</p>
                <div class="table-responsive-final">
                    <div class="inphor"><form action="" method="post">{% csrf_token %}<input type="time" name="hora" min="07:00" max="00:00" value="18:00" required><input type="submit" value="{% trans "add hour" %}"></form></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{% trans "Times" %}</th>
                                <th scope="col">{% trans "Actions" %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if horas %}
                            {% for hora in horas %}
                            <tr> 
                                <th scope="row">{{ hora }}</th>
                                <td><form action="" method="POST" id="userDeleteForm">{% csrf_token %}<input type="hidden" name="hourDelete" value="{{ hora }}" pattern="[0-9]{2}:[0-9]{2}"><p class="remove" onclick="borrarCliente()">{% trans "Delete" %}</p></form></td>
                            </tr>
                            {% endfor %}
                            {% endif %} 
                          </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if horas.has_next %}
                            <a href="?page={{ horas.paginator.num_pages }}">{% trans "last" %}</a>
                        {% endif %}
                        {% if horas.has_previous %}
                            <a href="?page={{ horas.previous_page_number }}">{% trans "previous" %}</a>
                        {% endif %}
                        <span class="current">
                            {% trans "Page" %} {{ horas.number }} {% trans "of" %} {{ horas.paginator.num_pages }}.
                        </span>
                        {% if horas.has_previous %}
                            <a href="?page=1">{% trans "first" %}</a>
                        {% endif %}
                        {% if horas.has_next %}
                            <a href="?page={{ horas.next_page_number }}">{% trans "next" %}</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="c">

        </div>
    </div>
</body>
{% endblock %}
{% include "scripts.html" %}
<script src="{% static '/js/header/script.js' %}"></script>
<script src="{% static '/js/header/script1.js' %}"></script>
<script>
    function quitarGrid(){
        $('.grid-gallery').css('display','none');
    }
    function mostrarGrid(){
        $('.grid-gallery').css('display','grid');
    }
    $(document).ready(function(){

        $('.bt_close ').stop().click(function(){
            $('.top-header').css('display','block');
            $('.fullscreen').css('display','none');
        });
        
        $('.grid-gallery a.grid-gallery__item img').stop().click(function(){
            var image = $(this).attr('src')
            $('.fullscreen .container .row div img').attr('src',image);
            $('.fullscreen').css('display','block');
            $('.top-header').css('display','none');
        });
    });
    $(function(){
        $('.nav-scroll').click(function(){
          $('.nav-scroll.active').removeClass('active');
          $('.show').removeClass('show');
          panelId = $(this).attr('href');
          $(panelId).addClass('show');
          $(this).addClass('active');
        });
    });
    

$(document).ready(function () {
    var URLactual = window.location.toString();
    if(URLactual.includes('#Home')){
        $('.home').click();
        $('.menu_toggler').click();
    }else if(URLactual.includes('#Services')){
        $('.services').click();
        $('.menu_toggler').click();
    }else if(URLactual.includes('#Galery')){
        $('.galery').click();
        $('.menu_toggler').click();
    }else if(URLactual.includes('#Contact')){
        $('.contact').click();
        $('.menu_toggler').click();
    }else if(URLactual.includes('#Redes')){
        $('.redes').click();
        $('.menu_toggler').click();
    }else if(URLactual.includes('#Politica')){
        $('.politica').click();
        $('.menu_toggler').click();
    }
    setTimeout(function () {
        $('.loading').hide().ajaxStart(function() { 
            $(this).show(); 
           }).ajaxStop(function() { 
            $(this).hide(); 
           });
      }, 2000);
});

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems);
  });
</script>