{% include "header.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/header/styles.css' %}">

    <div class="all-body">
        <div class="backblur">
            {% block content %}
            <div class="login active">
                <p class="login-head">Se envió el restablecimiento de contraseña</p>
                <p class="login-twohead">Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve. <br><br> Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
                <p class="logg"><a href="{% url 'index' %}">Iniciar sesión</a></p>
            </div>
            {% endblock %}
        </div>
    </div>
{% include "footer.html" %}
<!-- MENU -->
{% include "scripts.html" %}