{% include "header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/header/styles.css' %}">
    <!-- TEXTO PRINCIPAL -->
    {% block content %}
    <div class="all-body">
        <div class="backblur">
            <div class="login active">
                <p class="login-head">Nueva Contraseña</p><br>
                {% if validlink %}
                <form method="post">
                {% csrf_token %}
                    {% if form.errors %}
                    <p class="error-pass"></p>
                    {% endif %}
                    <div>
                      <td><label>Nueva contraseña</label></td><br>
                      <td class="form-control">{{ form.new_password1 }}</td>
                    </div>
                    <div>
                      <td><label>Confirme contraseña</label></td><br>
                      <td class="form-control">{{ form.new_password2 }}</td>
                    </div>
                    <div>
                        <input class="button" type="submit" value="Cambiar mi contrseña"><br>
                    </div>
                    <div class="division">
                        <div class="line l"></div>
                            <span>OR</span>
                            <div class="line r">
                        </div>
                    </div>
                </form>
                {% else %}
                    <p class="recover-twohead">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
{% include "footer.html" %}
<!-- MENU -->
{% include "scripts.html" %}