{% include "header.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/header/styles.css' %}">

    <div class="all-body">
        <div class="backblur">
            {% block content %}
            <div class="login active">
                <p class="login-head">validación correcta</p>
                <p class="login-twohead">Su contraseña se reestableció correctamente.</p>
                <p class="logg"><a href="{% url 'index' %}">Iniciar sesión</a></p>
            </div>
            {% endblock %}
        </div>
    </div>
{% include "footer.html" %}
<!-- MENU -->
{% include "scripts.html" %}